:root {
    --font-family: "Inter", sans-serif;
  
    --max-width: 1366px;
  
    --primary-color: #219653;
    --secundary-color: #EB5757;
    --background-color-green: #EDFFF5;
    --background-color-red: #FEDFDF;
  
    --gray-600: #333333;
    --gray-300: #828282;
    --gray-100: #E0E0E0;
    --gray-0: #F5F5F5;
  
    --negative: #E60000;
    --warning: #FFCD07;
    --sucess: #168821;
    --information: #155BCB;
}
  
* {
    box-sizing: border-box;
    padding: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}
  
main {
    max-width: 1366px;
    display: flex;
    flex-direction: row-reverse;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

form label {
    display: flex;
    flex-direction: column;
}

form input {
    background-color: var(--gray-0); 
    width: 410px;
    height: 40px;
    padding: 0 0.5rem;
    margin-top: 17px;
    color: rgb(12, 12, 12);
    font-size: 1rem;
    border: 1px solid rgb(66, 61, 61);
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    width: 165px;
    margin-left: 255px;
}

form input[type="submit"] {
    background-color: var(--background-color-green);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

form input[type="submit"]:hover {
    background: #219653;
}

.left {
    width: 48%;
}

.left h1 {
    width: 60%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 15px;
}

.left .wrapper {
    height: 545px;
    width: 585px;
    display: flex;
    align-items: center;
    padding: 37px;
}

.left .wrapper .card { 
    border: 2px solid var(--gray-100);
    width: 86%;
    margin-top: 15%;
    overflow: auto;
    border-radius: 5px;
}

.right {
    width: 48%;
    height: 80%;
    margin: 150px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right h1 {
    margin-top: 2%;
    margin-bottom: 3%;
    width: 50%;
    font-size: 64px;
    font-weight: 700;
    color: var(--primary-color);
}

.right .wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
}
  
.right .wrapper .card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 90%;
    border: 2px solid var(--gray-100);
    border-radius: 5px;
    padding: 10px;
}
  
.right .wrapper .card .icon {
    background-color: rgb(39 174 96/ 10%);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px
}

.span-required {
    font-size: 14px;
    margin-top: 4px;
    display: none;
    color: red;
    cursor: default;
}

@media (max-width:1023px){
    body {overflow-x: auto;}
    main {
        padding: 5px 5px 5px 5px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center; 
        margin-top: -150px;
        }
    .left {
        margin-top: -50px;
    }
    .right {
        margin-left: 60px;
    }
}
@media (max-width:939px){
    .left {
        margin-top: -50px;
    }
    .right {
        margin-left: 90px;
    }
}
@media (max-width:839px){
        .left {
            margin-top: -50px;
        }
        .right {
            margin-left: 150px;
        }
}

@media (max-width:650px){
    main {
        display: flex;
        align-items: center;
    }
    .left {
        margin-top: -50px;
    }
    .right {
        margin-left: 200px;
    }
    .right .imagess .wrapper {
        width: 350px;
    }
}
@media (max-width:550px){
    .right .imagess{
        display: none;
    }
    .right .imagess .wrapper {
        display: none;
    }
    .right .wrapper .card{
        display: none;
    } 
    .right .imagess .wrapper .card .icon {
        display: none;
    }
    .span-required {
        font-size: 14px;
        margin-top: 4px;
        display: none;
        color: red;
        cursor: default;
    }
    .left button{
        font-size: 13px;
        width: 165px;
      }
}