:root {
    font-family: "Inter", sans-serif;

    max-width: 1366px;
    
    --primary-color: #219653;
    --secundary-color: #EB5757;
    --background-color-green: #EDFFF5;
    --background-color-red: #FEDFDF;

    --gray-600: #333333;
    --gray-300: #828282;
    --gray-100: #E0E0E0;
    --gray-0: #F5F5F5;


    --negative: #E60000;
    --warning: #FFCD07;
    --sucess: #168821;
    --information: #155BCB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

button {
    cursor: pointer
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1366px;
    margin: 0 auto;
}

h2 {
    font-size: 16px;
}
.container {
    width: 48%;
}

.container-form {
    padding: 32px 24px;;
    display: flex;
    flex-direction:column;
    border-radius: 8px;
    border: 1px solid var(--gray-0);
    max-width: 500px;
    margin: 0 auto;
}

.container-form h1 {
    font-size: 18px;
    font-weight: 700;
}

form {
    padding: 16px 0 0;
    
}

.container-form form .input {
    position: relative;
    width: 100%;
    margin: 24px 0;
}
.container-form form .input label {
    position: absolute;
    font-size: 12px;
    padding: 2px 5px;
    color: var(--gray-300);
    background-color: #fff;
    top: -8px;
    left: 10px;
}
.container-form form .input input {
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--gray-300);
    border-radius: 5px;
}

.container-form button {
    height:40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 16px auto;
    font-weight: 600;
    font-size: 16px;
}

.container-form form button {
    background-color: var(--primary-color);
    color: #fff;
}

.container-form .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--gray-300);
    padding: 12px 0
}

.container-form button {
    color: var(--gray-300);
}

.container-title{
    min-height: 400px;
    max-width: 500px;
    margin: 0 auto;
}

.container-title h1 {
    font-size: 64px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 20%;
    width: fit-content
}

.wrapper {
    margin-top: 3px;
    width: fit-content;
    max-width: 377px;
    border: 1.5px solid var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 14px;
}

.wrapper .card {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    width: 100%
}

.wrapper .card .icon {
    background: rgb(39 174 96/ 10%);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px
}